<h1>
  {{title}}
</h1>
<ul>
  <li (click)="changeShowMode('AllFeeds')">
    Show All
  </li>
  <li (click)="changeShowMode('StarredFeeds')">
    Show Starred
  </li>
</ul>
<div>
  <div *ngFor="let feed of Feeds; let i = index" style="padding: 0 10px 10px 10px">
    <i (click)="starFeed(feed)">Star</i>
    <div>
      <a href="{{feed.url}}">
        <img src="{{feed.thumbnail}}" *ngIf="feed.thumbnail != 'self'"/>
        <span>{{feed.title}}</span>
      </a>
    </div>
    <div>{{feed.author}}</div>
  </div>
</div>